.permCheck span {
	border-radius: 3px;
	padding: 1px 2px;
}

.permCheck {
	color: white;
	line-height: 20px;
}

a.permCheck:hover {
	text-decoration: none !important;
}

.permClient {
	background-color: #0092D2;
}

.permVenda {
	background-color: #FF640A;
}

.permNotVenda {
	background-color: #3C3C3C;
}